{% extends 'main/base.html' %}

{% block content %}

    {% if current_user.is_authenticated %}
        <h1>Hello, {{ current_user.username }}!</h1>
        <h1>Welcome to TradeLens</h1>
    {% else %}
        <h1>Welcome to TradeLens</h1>
    {% endif %}


    <h3>Current market status</h3>
    {% if market_status %}
        <p>{{ market_status }}</p>
    {% endif %}


    <h3>Top Gainers, Losers, Most actively Traded Stocks</h3>
    {% if top_gainers_losers %}
        <p>{{ top_gainers_losers }}</p>
    {% endif %}


    <h3>Market holidays</h3>
    {% if market_holidays %}
        <p>{{ market_holidays }}</p>
    {% endif %}

{% endblock %}