<!--<br><br><br>-->

<!--1day -> from=today-1, to=today, 5minute | 15minute | 1hour <br>-->
<!--1week -> from today-7, to=today, 5minute | 15minute | 1hour <br>-->
<!--1month -> from today-30, to=today, 1hour | 1day <br>-->
<!--3month -> from today-91, to=today, 1hour | 1day | 1week <br>-->
<!--1year -> from today-365, to=today, 1day | 1week | 1month <br>-->

<!-- just give one option per timespan for more simplicity, e.g. the 5 minute bars for 1 day chart-->
<!--<br>-->
<!--@for (option of candlestickChartOptions; track $index) {-->
<!--  {{ option }}-->
<!--}-->

<!--<form class="relative flex items-center w-full max-w-md mx-20" #searchForm="ngForm" (ngSubmit)="onParamChange()">-->
<!--  <input type="number"-->
<!--         id="multiplier"-->
<!--         class="py-3 px-4 block w-full rounded-lg text-sm text-gray-800 border border-gray-800"-->
<!--         placeholder="multiplier"-->
<!--         name="search"-->
<!--         [(ngModel)]="multiplier"/>-->
<!--  <input type="text"-->
<!--         id="timespan"-->
<!--         class="py-3 px-4 block w-full rounded-lg text-sm text-gray-800 border border-gray-800"-->
<!--         placeholder="timespan"-->
<!--         name="search"-->
<!--         [(ngModel)]="timespan"/>-->
<!--  <button type="submit">SUBMIT</button>-->
<!--</form>-->

<!--@if (chartOptions) {-->
<!--  <div id="chart">-->
<!--    <apx-chart-->
<!--      [series]="chartOptions.series"-->
<!--      [chart]="chartOptions.chart"-->
<!--      [xaxis]="chartOptions.xaxis"-->
<!--      [yaxis]="chartOptions.yaxis"-->
<!--      [title]="chartOptions.title"-->
<!--    ></apx-chart>-->
<!--  </div>-->
<!--}-->

