.git
.gitignore

**/node_modules
**/dist
**/.angular
**/.nx
**/coverage
npm-debug.log
yarn-error.log

**/bin
**/obj
**/*.user
**/*.suo
**/*.cache

.vscode
.idea
*.swp

docs/
*.md

logo/

.github/

.DS_Store
Thumbs.db
