services:
  
  # apps
  
  app:
    container_name: tradelens-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "6502:6501"
    environment:
      - ASPNETCORE_ENVIRONMENT=Staging
#      - ConnectionStrings__DefaultConnection=Host=sql;Port=5432;Database=tradelens-db;Username=postgres;Password=postgres
      - ASPNETCORE_URLS=http://*:6501
    depends_on:
      - sql
  
  # backing services
  
  sql:
    image: postgres:17.2-alpine3.21
    container_name: tradelens-db
    restart: always
    environment:
      - POSTGRES_DB=tradelens-db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - sql-data:/var/lib/postgresql/data
  
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
#    environment:
#      - ConnectionStrings__Redis=redis
  
  # observability
  
  grafana:
    container_name: grafana
    image: grafana/grafana:11.5.2
    user: "501"
    platform: linux/arm64
    depends_on:
      - loki
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=user
      - GF_SECURITY_ADMIN_PASSWORD=password
    volumes:
      - ./observability/grafana/grafana.ini:/etc/grafana/grafana.ini
  
  loki:
    container_name: loki
    image: grafana/loki:3.5
    platform: linux/arm64
    volumes:
      # mount the loki config file
      - ./observability/loki/loki-config.yml:/mnt/config/loki-config.yml
    ports:
      - "3100:3100"
    command: -config.file=/mnt/config/loki-config.yml
  
  promtail:
    container_name: promtail
    image: grafana/promtail:3.4.2-arm64
    ports:
      - "9080:9080"
    volumes:
      # mount the promtail config file
      - ./observability/promtail/promtail-config.yml:/mnt/config/promtail-config.yml
#      - /var/log:/var/log
      - /var/lib/docker/containers:/var/lib/docker/containers
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - loki
    command: -config.file=/mnt/config/promtail-config.yml
#    environment:
#      - LOKI_URL=http://localhost:3100/loki/api/v1/push


volumes:
  redis-data:
  sql-data:
