{% extends 'main/base.html' %}

{% block content %}

    <h1>General Economy</h1>

    <h3>GDP</h3>
    {% if gdp %}
        <p>{{ gdp }}</p>
    {% endif %}


    <h3>Debt as percentage of GDP</h3>
    {% if debt_as_pct_of_gdp %}
        <p>{{ debt_as_pct_of_gdp }}</p>
    {% endif %}


    <h3>Total Public Debt</h3>
    {% if total_debt %}
        <p>{{ total_debt }}</p>
    {% endif %}


    <h3>Interest payments</h3>
    {% if interest_payments %}
        <p>{{ interest_payments }}</p>
    {% endif %}

{% endblock %}