<header class="p-3 w-full">
  <div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto px-4">
<!--    <img routerLink="/landing" src="/images/tradelens.png" alt="app logo" class="max-h-16">-->
    <a routerLink="/landing" routerLinkActive="active">LOGO</a>
    <nav class="flex gap-3 my-2 uppercase text-xl">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a routerLink="/feed" routerLinkActive="active">Feed</a>
      <a>Stocks</a>
    </nav>
    <div class="flex gap-5 align-middle ">
<!--      <p-overlay-badge value="5" badgeSize="small">-->
<!--        <i class="pi pi-chart-line" style="font-size: 2rem"></i>-->
<!--      </p-overlay-badge>-->
      <a>Login</a>
    </div>
  </div>
</header>
