<nav class="bg-white dark:bg-black fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-6">
    <a routerLink="/landing" routerLinkActive="active">LOGO</a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      @if (authService.currentUser()) {
        <button (click)="logout()">Logout</button>
      } @else {
        <a routerLink="/auth/login">Login</a>
      }
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-black">
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li>
          <a routerLink="/feed" routerLinkActive="active">Feed</a>
        </li>
        <li>
          <a>Tickers</a>
        </li>
        <li>
          <a>Max Pain</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
