<div class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div class="text-center">
      <h2 class="text-2xl font-extrabold text-gray-900">Sign up</h2>
      <div class="mt-2 space-y-1">
        <p class="text-lg text-gray-600">Welcome to TradeLens!</p>
        <p class="text-sm text-gray-500">Let's set up your account with a strong password.</p>
      </div>
    </div>

    <div class="text-center text-sm">
      <span class="text-gray-600">Already have an account? </span>
      <a routerLink="/login" class="font-medium">
        Log in
      </a>
    </div>

    <form nz-form [formGroup]="registerForm" class="mt-8 space-y-6" (ngSubmit)="onSubmit()" method="POST">
      <div class="space-y-4">
        <div class="flex space-x-4">
          <nz-form-item class="flex-1 mb-0">
            <nz-form-control nzErrorTip="Please input your first name!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="firstName" required placeholder="First name" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="flex-1 mb-0">
            <nz-form-control nzErrorTip="Please input your last name!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="lastName" required placeholder="Last name" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="email" required placeholder="Email address" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" required placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="flex flex-col items-center space-y-4">
        <button nz-button type="submit" class="w-full" [nzType]="'primary'">
          Create account
        </button>

        <div class="text-sm text-center">
          <a routerLink="/" class="font-medium">
            Go Home
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
