Sign up <br>
Welcome to TradeLens! <br>
Lets set up your account with a strong password. <br>

Already have an account?
<a routerLink="/login">Log in</a>

<form nz-form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit()" method="POST">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="firstName" required placeholder="First name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="lastName" required placeholder="Last name" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="email" required placeholder="Email address" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" required placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!--  <div nz-row class="login-form-margin">-->
  <!--    <div nz-col [nzSpan]="12">-->
  <!--      <label nz-checkbox formControlName="remember">-->
  <!--        <span>Remember me</span>-->
  <!--      </label>-->
  <!--    </div>-->
  <!--    <div nz-col [nzSpan]="12">-->
  <!--      <a class="login-form-forgot">Forgot password</a>-->
  <!--    </div>-->
  <!--  </div>-->
  <button nz-button type="submit" class="login-form-button login-form-margin" [nzType]="'primary'">Create account</button>
  <br>
  <a routerLink="/">Go Home</a>
</form>
