{{ stock()?.ticker }} - {{ stock()?.companyName }}
<br>
<!--<app-candlestick-chart [ticker]="ticker()"></app-candlestick-chart>-->

Related Companies
@for (relatedCompany of relatedCompanies()?.results; track $index) {
  <a href="/companies/{{relatedCompany.ticker}}">{{ relatedCompany.ticker }}</a>
}

<br>

<button nz-button nzType="default" (click)="openSelectMetricsModal()">Edit Charts</button>

<br>
<!-- tracking by $index causes problems for fundamentalData which is a dynamic collection -->
@for (metric of fundamentalData()?.metricData; track metric.metricName) {
  <app-company-metric-chart
  [ticker]="ticker()"
  [metricName]="metric.metricName"
  [data]="metric.data">
  </app-company-metric-chart>
}
