<div class="flex w-1/2">
  <form (ngSubmit)="onTickerSubmit()" style="display: contents">
    <input nz-input
           type="text"
           class=""
           placeholder="Enter a ticker symbol"
           name="ticker"
           [(ngModel)]="ticker"/>

    <button nz-button nzType="primary">Get Expiration Dates</button>
  </form>

  @if (expirationDates()) {
    <nz-select
      nzPlaceHolder="Select an expiration date"
      [(ngModel)]="selectedExpiration"
      (ngModelChange)="onExpiryDateSelection()"
      name="expiryDate">
      @for (expirationDate of expirationDates()?.expirations?.date; track $index) {
        <nz-option nzValue="{{expirationDate}}" nzLabel="{{expirationDate}}">{{ expirationDate }}</nz-option>
      }
    </nz-select>
  }
  <div class="flex justify-end">
    @if (selectedExpiration()) {
      <button [routerLink]="['/options', ticker(), selectedExpiration()]" nz-button nzType="primary">Explore</button>
    }
  </div>
</div>

@if (maxPainData()) {
  <app-max-pain-chart
    [tickerSymbol]="submittedTicker()"
    [cashValuesDataForChart]="maxPainData()"
    [expirationDate]="selectedExpiration()">
  </app-max-pain-chart>
}
