<nz-select class="select-ticker"
           nzShowSearch
           nzPlaceHolder="Select a company"
           [(ngModel)]="ticker"
           (ngModelChange)="getListOfAvailableMetricsTemp()">
  @for (company of availableCompanies(); track $index) {
    <nz-option nzLabel="{{company}}" nzValue="{{company}}">{{ company }}</nz-option>
  }
</nz-select>

<nz-select class="select-chart-type"
           nzPlaceHolder="Select Chart Type"
           [(ngModel)]="selectedChartType">
  <nz-option nzLabel="Bar Chart" nzValue="bar">Bar Chart</nz-option>
  <nz-option nzLabel="Line Chart" nzValue="line">Line Chart</nz-option>
</nz-select>

<!--@if (availableMetrics()) {-->
  <nz-select class="select-metrics"
             nzShowSearch
             nzPlaceHolder="Select Metrics"
             [(ngModel)]="selectedMetric"
             (ngModelChange)="getDataForSelectedMetric()">
    <!--             nzMode="multiple"-->
    @for (metric of availableMetrics(); track $index) {
      <nz-option nzLabel="{{metric}}" nzValue="{{metric}}">{{ metric }}</nz-option>
    }
  </nz-select>
<!--}-->

<nz-select class="select-colors"
           nzPlaceHolder="Select Colors"
           [(ngModel)]="selectedColor">
  <!--             nzMode="multiple"-->
  @for (color of colorsList; track $index) {
    <nz-option nzLabel="{{color}}" nzValue="{{color}}">{{ color }}</nz-option>
  }
</nz-select>

@if (ticker() && selectedColor() && selectedMetric() && selectedChartType()) {
  <button nz-button nzType="default" (click)="createChart()">Create chart</button>
}

<div class="relative w-full h-[70vh]">
  <canvas id="chart-engine">{{ chart }}</canvas>
</div>

<nz-radio-group nzButtonStyle="solid" [ngModel]="interval()" (ngModelChange)="interval.set($event)">
  <label nz-radio-button nzValue="quarterly">Quarterly</label>
  <label nz-radio-button nzValue="annual">Annual</label>
</nz-radio-group>
