<div>
  <h3 class="text-3xl text-center pt-6 mb-3">Filters</h3>
  <mat-divider></mat-divider>
  <div class="flex p-4 mx-auto">
    <div class="w-1/2">
      <h4 class="font-semibold text-xl text-primary">Tickers</h4>
      <mat-selection-list class="scrollable-list" [(ngModel)]="selectedTickers" [multiple]="true">
        @for (ticker of feedService.tickers; track $index) {
          <mat-list-option [value]="ticker">{{ ticker }}</mat-list-option>
        }
      </mat-selection-list>
    </div>

    <div class="w-1/2">
      <h4 class="font-semibold text-xl text-primary">Sentiments</h4>
      <mat-selection-list [(ngModel)]="selectedSentiments" [multiple]="true">
        @for (sentiment of feedService.sentiments; track $index) {
          <mat-list-option [value]="sentiment">{{ sentiment }}</mat-list-option>
        }
      </mat-selection-list>
    </div>
  </div>

  <div class="flex justify-end px-8 py-8">
    <button (click)="applyFilters()" type="button" class="cursor-pointer py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg text-blue-600 focus:outline-none hover:text-gray-800 disabled:opacity-50 disabled:pointer-events-none">
      Apply Filters
    </button>
  </div>
</div>
