<ul nz-menu nzMode="inline">
  <li nz-submenu nzTitle="User">
    <span nz-icon nzType="user" nzTheme="outline" nz-submenu-title></span>
    <ul>
      <li nz-menu-item>Tom</li>
      <li nz-menu-item>Bill</li>
      <li nz-menu-item>Alex</li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Team">
    <span nz-icon nzType="team" nzTheme="outline" nz-submenu-title></span>
    <ul>
      <li nz-menu-item>Team 1</li>
      <li nz-menu-item>Team 2</li>
    </ul>
  </li>
  <li nz-menu-item>
    <span nz-icon nzType="file" nzTheme="outline"></span>
    <span>File</span>
  </li>
</ul>
