.company-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.company-card:hover {
  transform: scale(1.05) translateY(-1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
  background-color: #4D5485 !important;
}
