{% extends 'main/base.html' %}

{% block content %}

    <h1>Macro</h1>

    <h3>GDP</h3>
    {% if gdp %}
        <p>{{ gdp }}</p>
    {% endif %}


    <h3>CPI</h3>
    {% if cpi %}
        <p>{{ cpi }}</p>
    {% endif %}


    <h3>Interest Rate</h3>
    {% if interest_rates %}
        <p>{{ interest_rates }}</p>
    {% endif %}


    <h3>Unemployment Rate</h3>
    {% if unemployment_rate %}
        <p>{{ unemployment_rate }}</p>
    {% endif %}


    <h3>10 Year Yield</h3>
    {% if ten_year_yield %}
        {{ ten_year_yield }}
    {% endif %}


    <h3>Trade Deficit</h3>
    {% if trade_deficit %}
        <p>{{ trade_deficit }}</p>
    {% endif %}


    <h3>Capacity Utilization</h3>
    {% if capacity_utilization %}
        <p>{{ capacity_utilization }}</p>
    {% endif %}


    <h3>Total Nonfarm Payroll</h3>
    {% if total_nonfarm_payroll %}
        <p>{{ total_nonfarm_payroll }}</p>
    {% endif %}


    <h3>Housing Data</h3>
    {% if housing_data %}
        <p>{{ housing_data }}</p>
    {% endif %}


    <h3>Commodities</h3>
    {% if commodities %}
        <p>{{ commodities }}</p>
    {% endif %}

{% endblock %}