{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
    </div>
{% endfor %}

{% if id == current_user.id %}
    <h1>Update user:</h1>
    <br/>
    ID to Update: {{ id }} <br>
    current ID: {{ current_user.id }}
    <br><br>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", value=name_to_update.name) }}
            <br/>
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", value=name_to_update.username) }}
            <br/>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", value=name_to_update.email) }}
            <br/>
            {{ form.favorite_stock.label(class="form-label") }}
            {{ form.favorite_stock(class="form-control", value=name_to_update.favorite_stock) }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>

{% else %}
    <div class="alert alert-success fade show" role="alert">You cannot edit this user
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h2>Access denied</h2>

{% endif %}

    <br/><br/><br/>

{% endblock %}