{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
    </div>
{% endfor %}

{% if name %}
    <h1>Update User</h1>
    <br/><br/>
    <table class="table table-hover">
        {% for our_user in our_users %}
            <tr>
            <td>{{ our_user.id }} - <a href="{{ url_for('update', id=our_user.id) }}">{{ our_user.name }}</a> - {{ our_user.email }} - {{ our_user.favorite_stock }}</td>
            </tr>
        {% endfor %}
    </table>


{% else %}
    <h1>Update user:</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br/>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            <br/>
            {{ form.favorite_stock.label(class="form-label") }}
            {{ form.favorite_stock(class="form-control") }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>

    <br/><br/><br/>

{% endif %}

{% endblock %}