{% extends 'main/base.html' %}

{% block content %}

    <h1>Maximum pain calculation for {{ stock.ticker_symbol }} expiring on {{ expiry_date }}</h1>

    <h3>Cash</h3>

    <h4>Calls</h4>
    <p>
        {% for call in cash_values.data.calls %}
            {{ call }} <br>
        {% endfor %}
    </p>

    <h4>Puts</h4>
    <p>
        {% for put in cash_values.data.puts %}
            {{ put }} <br>
        {% endfor %}
    </p>

    <h4>Combined</h4>
    <p>
        {% for sum in cash_values.data.sums %}
            {{ sum }} <br>
        {% endfor %}
    </p>

    <h4>Max Pain</h4>
    <p>{{ cash_values.data.max_pain }}</p>

{% endblock %}