{% extends 'main/base.html' %}

{% block content %}

    <h1>{{ stock.ticker_symbol }} {{ expiry_date }}</h1>

    <hr>

    <h4>Open Interest</h4>
    {% if open_interest %}
        <p>{{ open_interest }}</p>
    {% endif %}


    <h4>Volume</h4>
    {% if volume %}
        <p>{{ volume }}</p>
    {% endif %}


    <h4>Implied Volatility</h4>
    {% if implied_volatility %}
        <p>{{ implied_volatility }}</p>
    {% endif %}


    <h4>Last price, Bid, Ask</h4>
    {% if last_bid_ask %}
        <p>{{ last_bid_ask }}</p>
    {% endif %}

{% endblock %}
