{% extends 'main/base.html' %}

{% block content %}

    <h1>{{ stock.ticker_symbol }} {{ expiry_date }}</h1>

    <hr>

    <p>
        <a href="{{ url_for('options.greeks', symbol=stock.ticker_symbol, expiry_date=expiry_date) }}" class="btn btn-outline-success btn-lg">View Greeks</a>
        <a href="{{ url_for('options.options', symbol=stock.ticker_symbol) }}" class="btn btn-outline-dark btn-lg">Expiration Calendar</a>
    </p>

    {% if open_interest %}
        <h4>Open Interest</h4>
        <p>{{ open_interest }}</p>
    {% endif %}


    {% if volume %}
        <h4>Volume</h4>
        <p>{{ volume }}</p>
    {% endif %}


    {% if implied_volatility %}
        <h4>Implied Volatility</h4>
        <p>{{ implied_volatility }}</p>
    {% endif %}


    {% if last_bid_ask %}
        <h4>Last price, Bid, Ask</h4>
        <p>{{ last_bid_ask }}</p>
    {% endif %}


    <h4>Full chain</h4>

{% endblock %}
