{% extends 'main/base.html' %}

{% block content %}

    <h1>{{ stock.ticker_symbol }} {{ expiry_date }}</h1>

    <hr>

    <p>
        <a href="{{ url_for('options.greeks', symbol=stock.ticker_symbol, expiry_date=expiry_date) }}" class="btn btn-outline-success btn-lg">View Greeks</a>
        <a href="{{ url_for('options.options_strikes', symbol=stock.ticker_symbol, expiry_date=expiry_date) }}" class="btn btn-outline-dark btn-lg">View Option Charts</a>
        <a href="{{ url_for('options.maximum_pain', symbol=stock.ticker_symbol, expiry_date=expiry_date) }}" class="btn btn-outline-danger btn-lg">Maximum Pain</a>
        <a href="{{ url_for('options.options', symbol=stock.ticker_symbol) }}" class="btn btn-outline-info btn-lg">Back to Expiration Calendar</a>
    </p>

    <div id="plotly-div">{{ open_interest | safe }}</div>

    {{ oi_totals_ratio }}

{#    {% if volume %}#}
{#        <h3>Volume</h3>#}
{#        <p>{{ volume }}</p>#}
{#    {% endif %}#}
{##}
{##}
{#    {% if implied_volatility %}#}
{#        <h3>Implied Volatility</h3>#}
{#        <p>{{ implied_volatility }}</p>#}
{#    {% endif %}#}
{##}
{##}
{#    {% if last_bid_ask %}#}
{#        <h3>Last price, Bid, Ask</h3>#}
{#        <p>{{ last_bid_ask }}</p>#}
{#    {% endif %}#}

{% endblock %}
