<h1 class="text-3xl">{{ stock()?.companyName }} ({{ companyProfile()?.exchange }}: {{ stock()?.ticker }})</h1>

<div class="grid grid-cols-3 gap-y-0 w-2/3">
  <h2 class="text-xs">Market Cap: ${{ companyProfile()?.marketCap | number : '1.0-0' }}</h2>
  <h2 class="text-xs">
    ${{ companyProfile()?.price | number : '1.2-2' }}
    <span [class]="(companyProfile()?.change ?? 0) >= 0 ? 'text-green-500' : 'text-red-500'">
      {{ companyProfile()?.change | number : '1.2-2' }}
      ({{ companyProfile()?.changePercentage | number : '1.2-2' }}%)
    </span>
  </h2>
  <h2 class="text-xs">52-Week Range:
    @if (companyProfile()?.range) {
      ${{ companyProfile()!.range.split('-')[0] | number : '1.2-2' }} -
        ${{ companyProfile()!.range.split('-')[1] | number : '1.2-2' }}
    }
  </h2>
  <h2 class="text-xs">Enterprise Value: ${{ keyMetrics()?.enterpriseValueTtm | number : '1.0-0' }}</h2>
  <h2 class="text-xs">Volume: {{ companyProfile()?.volume | number : '1.0-0' }}</h2>
  <h2 class="text-xs">Dividend: {{ companyProfile()?.lastDividend }}</h2>
</div>

<div class="flex gap-4">
  <nz-card class="flex-1">
    <h1 class="text-xl mb-2">Key Metrics</h1>
    <div class="flex justify-between">
      <h2 class="text-sm">ROIC:</h2>
      <h2 class="text-sm">{{ keyMetrics()?.returnOnInvestedCapitalTtm | number : '1.4-4' }}</h2>
    </div>
    <div class="flex justify-between">
      <h2 class="text-sm">Debt to Equity:</h2>
      <h2 class="text-sm">{{ financialRatios()?.debtToEquityRatioTtm | number : '1.4-4' }}</h2>
    </div>
    <div class="flex justify-between">
      <h2 class="text-sm">Gross Profit Margin:</h2>
      <h2 class="text-sm">{{ financialRatios()?.grossProfitMarginTtm | number : '1.4-4' }}</h2>
    </div>
    <div class="flex justify-between">
      <h2 class="text-sm">Current Ratio:</h2>
      <h2 class="text-sm">{{ keyMetrics()?.currentRatio | number : '1.4-4' }}</h2>
    </div>
    <div class="flex justify-between">
      <h2 class="text-sm">Net Debt to EBITDA:</h2>
      <h2 class="text-sm">{{ keyMetrics()?.netDebtToEbitdaTtm | number : '1.4-4' }}</h2>
    </div>
  </nz-card>

  <nz-card class="flex-1">
    <h1 class="text-xl mb-2">Key Ratios</h1>
    <div class="flex justify-between">
      <h2 class="text-sm">P/E Ratio:</h2>
      <h2 class="text-sm">{{ financialRatios()?.priceToEarningsRatioTtm | number : '1.4-4' }}</h2>
    </div>
    <div class="flex justify-between">
      <h2 class="text-sm">P/S Ratio:</h2>
      <h2 class="text-sm">{{ financialRatios()?.priceToSalesRatioTtm | number : '1.4-4' }}</h2>
    </div>
    <div class="flex justify-between">
      <h2 class="text-sm">P/B Ratio:</h2>
      <h2 class="text-sm">{{ financialRatios()?.priceToBookRatioTtm | number : '1.4-4' }}</h2>
    </div>
    <div class="flex justify-between">
      <h2 class="text-sm">Price/FCF:</h2>
      <h2 class="text-sm">{{ financialRatios()?.priceToFreeCashFlowRatioTtm | number : '1.4-4' }}</h2>
    </div>
    <div class="flex justify-between">
      <h2 class="text-sm">Forward PEG:</h2>
      <h2 class="text-sm">{{ financialRatios()?.forwardPriceToEarningsGrowthRatioTtm | number : '1.4-4' }}</h2>
    </div>
  </nz-card>

  <nz-card class="flex-1">
    <h1 class="text-xl">Users Also Search For</h1>
    <div class="columns-2 gap-4">
      @for (relatedCompany of relatedCompanies()?.results; track $index) {
        <h1 class="text-sm"><a href="/companies/{{relatedCompany.ticker}}">{{ relatedCompany.ticker }}</a></h1>
      }
    </div>
  </nz-card>

  <app-stock-price-chart-snapshot [ticker]="ticker()" class="flex-1"></app-stock-price-chart-snapshot>
</div>
