<h1 class="text-3xl">{{ stock()?.ticker }} - {{ stock()?.companyName }}</h1>

<div class="grid grid-cols-3 gap-y-0 w-2/3">
  <h2 class="text-xs">Market Cap: 31800000000</h2>
  <h2 class="text-xs">Price(27.36) - Change(2.21)</h2>
  <h2 class="text-xs">52-Week Range: 8.40 - 32.52</h2>
  <h2 class="text-xs">Enterprise Value: 31600000000</h2>
  <h2 class="text-xs">Volume: 62000000</h2>
  <h2 class="text-xs">Last Dividend - ----</h2>
</div>

<div class="flex gap-4">
  <nz-card class="flex-1">
    <h1 class="text-xl">Key Metrics</h1>
    <h2 class="text-sm">ROIC - asdf</h2>
    <h2 class="text-sm">Debt to Equity - asdf</h2>
    <h2 class="text-sm">Gross Profit Margin - asdf</h2>
    <h2 class="text-sm">Current Ratio - asdf</h2>
    <h2 class="text-sm">Net Debt to EBITDA - asdf</h2>
  </nz-card>

  <nz-card class="flex-1">
    <h1 class="text-xl">Key Ratios</h1>
    <h2 class="text-sm">P/E Ratio - asdf</h2>
    <h2 class="text-sm">P/S Ratio - asdf</h2>
    <h2 class="text-sm">P/B Ratio - asdf</h2>
    <h2 class="text-sm">Price/FCF - asdf</h2>
    <h2 class="text-sm">Forward PEG - asdf</h2>
  </nz-card>

  <nz-card class="flex-1">
    <h1 class="text-xl">Users Also Search For</h1>
    <div class="columns-2 gap-4">
      @for (relatedCompany of relatedCompanies()?.results; track $index) {
        <h1 class="text-md"><a href="/companies/{{relatedCompany.ticker}}">{{ relatedCompany.ticker }}</a></h1>
      }
    </div>
  </nz-card>

  <app-stock-price-chart-snapshot [ticker]="ticker()" class="flex-1"></app-stock-price-chart-snapshot>
</div>
