<div>
  <h3 class="text-3xl text-center pt-6 mb-3">Filters</h3>
  <mat-divider></mat-divider>
  <div class="flex p-4 mx-auto">
    <div class="w-1/3">
      <h4 class="font-semibold text-xl text-primary">Ipo Year</h4>
      <mat-selection-list class="scrollable-list" [(ngModel)]="selectedIpoYears" [multiple]="true">
        @for (ipoYear of stockService.ipoYears; track $index) {
          <mat-list-option [value]="ipoYear">{{ ipoYear }}</mat-list-option>
        }
      </mat-selection-list>
    </div>

    <div class="w-1/3">
      <h4 class="font-semibold text-xl text-primary">Country</h4>
      <mat-selection-list class="scrollable-list" [(ngModel)]="selectedCountries" [multiple]="true">
        @for (country of stockService.countries; track $index) {
          <mat-list-option [value]="country">{{ country }}</mat-list-option>
        }
      </mat-selection-list>
    </div>

    <div class="w-1/3">
      <h4 class="font-semibold text-xl text-primary">Sector</h4>
      <mat-selection-list class="scrollable-list" [(ngModel)]="selectedSectors" [multiple]="true">
        @for (sector of stockService.sectors; track $index) {
          <mat-list-option [value]="sector">{{ sector }}</mat-list-option>
        }
      </mat-selection-list>
    </div>
  </div>

  <div class="flex justify-end px-8 py-8">
    <button (click)="applyFilters()" type="button" class="cursor-pointer py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg text-blue-600 focus:outline-none hover:text-gray-800 disabled:opacity-50 disabled:pointer-events-none">
      Apply Filters
    </button>
  </div>
</div>
