<nz-checkbox-group [(ngModel)]="userSelectedMetrics">
  <nz-row>
    @for (metric of metricsList(); track $index) {
      <nz-col nzSpan="8">
        <label nz-checkbox [nzValue]="metric">{{ transformMetricName(metric) }}</label>
      </nz-col>
    }
  </nz-row>
</nz-checkbox-group>

<div class="flex justify-between mt-4">
  <button nz-button
          (click)="clearMetricSelections()"
          nzDanger
          nzType="primary">
    Clear
  </button>
  <button nz-button
          (click)="selectAllMetrics()"
          nzType="default">
    Select All
  </button>
  <button nz-button
          (click)="applyMetricsSelect()"
          nzType="primary">
    Select
  </button>
</div>
