{% extends 'main/base.html' %}

{% block content %}

    <h1>Holders and Insiders Activity for {{ stock.ticker_symbol }}</h1>

    <h3>Top Institutional Holders</h3>
    {% if institutional_holders %}
        <p>{{ institutional_holders }}</p>
    {% endif %}


    <h3>Recent Insider Activity</h3>
    {% if insider_transactions %}
        <p>{{ insider_transactions }}</p>
    {% endif %}


    <h3>Insider Sentiment</h3>
    {% if insider_sentiment %}
        <p>{{ insider_sentiment }}</p>
    {% endif %}


    <h3>Analyst Ratings</h3>
    {% if analyst_ratings %}
        <p>{{ analyst_ratings }}</p>
    {% endif %}

{% endblock %}