{% extends 'main/base.html' %}

{% block content %}

    <h1>{{ stock.ticker_symbol }}</h1>
    <h4>{{ stock.company_name }}</h4>


    <a href="{{ url_for('options.options', symbol=stock.ticker_symbol) }}" class="btn btn-outline-primary btn-lg">Option Chain</a>

    <a href="{{ url_for('stocks.symbol_news', symbol=stock.ticker_symbol) }}" class="btn btn-outline-dark btn-lg">News Stream</a>

    <a href="{{ url_for('stocks.symbol_financials', symbol=stock.ticker_symbol) }}" class="btn btn-outline-info btn-lg">Financials</a>

    <a href="{{ url_for('stocks.symbol_holders', symbol=stock.ticker_symbol) }}" class="btn btn-outline-secondary btn-lg">Holders/Insiders/Analysts</a>

    <a href="{{ url_for('stocks.symbol_federal', symbol=stock.ticker_symbol) }}" class="btn btn-outline-success btn-lg">Federal Activity</a>

    <a href="{{ url_for('stocks.symbol_dividends_splits', symbol=stock.ticker_symbol) }}" class="btn btn-outline-warning btn-lg">Dividends/Splits</a>

    <a href="{{ url_for('stocks.symbol_main') }}" class="btn btn-link btn-lg">Symbol Directory</a>


    <div id="plotly-div">{{ symbol_chart | safe }}</div>


    <h3>Company logo, ipo date, sector</h3>
    {% if company_profile %}
        <p>{{ company_profile }}</p>
    {% endif %}


    <h3>Main info</h3>
    {% if main_info %}
        <p>{{ main_info }}</p>
    {% endif %}


    <h3>basic_info</h3>
    {% if basic_info %}
        <p>{{ basic_info }}</p>
    {% endif %}


    <h3>fast_info</h3>
    {% if fast_info %}
        <p>{{ fast_info }}</p>
    {% endif %}


    <h3>Dividends, Earnings and Revenue Estimates</h3>
    {% if calendar %}
        <p>{{ calendar }}</p>
    {% endif %}


    {% include 'feed/add_post.html' %}

    <br>
    {% for post in symbol_posts %}
        {% include 'feed/_post.html' %}
    {% endfor %}

{% endblock %}