{% extends 'main/base.html' %}

{% block content %}

    <h1>Financials for {{ stock.ticker_symbol }}  ((yfinance_.py extract desired attributes inside of method))</h1>

    {% if balance_sheet %}
        <h3>Balance Sheet</h3>
        {% for k, v in balance_sheet.data.items() %}
            <strong>{{ k }}</strong> <br>
            {% for attr, num in v.items() %}
                {{ attr }} | {{ num }} <br>
            {% endfor %}
        {% endfor %}
    {% endif %}


    {% if cashflow %}
        <h3>Cashflow</h3>
        {% for k, v in cashflow.data.items() %}
            <strong>{{ k }}</strong> <br>
            {% for attr, num in v.items() %}
                {{ attr }} | {{ num }} <br>
            {% endfor %}
        {% endfor %}
    {% endif %}


    {% if income_statement %}
        <h3>Income Statement</h3>
        {% for k, v in income_statement.data.items() %}
            <strong>{{ k }}</strong> <br>
            {% for attr, num in v.items() %}
                {{ attr }} | {{ num }} <br>
            {% endfor %}
        {% endfor %}
    {% endif %}

{% endblock %}