{% block content %}

{% if current_user.is_authenticated %}

    {% if stock %}

        <h2>Share an idea about {{ stock.ticker_symbol }}:</h2>

    {% else %}

        <h2>Share an idea:</h2>

    {% endif %}

    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            <br/>
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows="10") }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>

    <a href="{{ url_for('feed') }}">Go Back</a>

{% endif %}

{% endblock %}