{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %} <!-- check if messages has some content -->
    <ul>
        {% for message in messages %}
            {{ message }} <br>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

{% if current_user.is_authenticated %}

<h1>Share an idea:</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            <br/>
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows="10") }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>

        {# {{ ckeditor.load() }} #}
        {# {{ ckeditor.config(name='content') }} #}
        
    </div>

{% else %}
    <h2>Must be logged in to post</h2>
    <br>
    <a href="{{ url_for('login') }}" class="btn btn-outline-success">Login</a>

{% endif %}

{% endblock %}