{% extends 'base.html' %}

{% block content %}

    <h1>{{ stock.ticker_symbol }} {{ expiry_date }}</h1>

    <hr>

    <h5>Open Interest</h5>
    <p>
    {{ open_interest[0] }} <br>
    {{ open_interest[1] }}
    </p>

    <h5>Volume</h5>
    <p>
    {{ volume[0] }} <br>
    {{ volume[1] }}
    </p>

    <h5>Implied Volatility</h5>
    <p>
    {{ implied_volatility[0] }} <br>
    {{ implied_volatility[1] }}
    </p>

    <h5>Last price, Bid, Ask</h5>
    <p>
    {{ last_bid_ask[0] }} <br>
    {{ last_bid_ask[1] }}
    </p>

    <h2>Option chain</h2>

    <h4>Calls expiring on {{ expiry_date }}</h4>
    <p>
        {% for i, j in option_chain.calls.iterrows() %}
            <strong>Sep</strong> <br>
            {% for col, val in j.items() %}
                {{ col }} | {{ val }} <br>
            {% endfor %}
        {% endfor %}
    </p>

    <h4>Puts expiring on {{ expiry_date }}</h4>
    <p>
        {% for i, j in option_chain.puts.iterrows() %}
            <strong>Sep</strong> <br>
            {% for col, val in j.items() %}
                {{ col }} | {{ val }} <br>
            {% endfor %}
        {% endfor %}
    </p>

{% endblock %}