{% extends 'base.html' %}

{% block content %}

    <h1>Here is the chain for {{ stock.ticker_symbol }} {{ expiry_date }}</h1>

    <hr>

    Volume <br>
    {{ call_volume[0] }} <br>
    {{ call_volume[1] }}

    <h3>Calls expiring on {{ expiry_date }}</h3>
    <p>
        {% for i, j in option_chain.calls.iterrows() %}
            <strong>Sep</strong> <br>
            {% for col, val in j.items() %}
                {{ col }} | {{ val }} <br>
            {% endfor %}
        {% endfor %}
    </p>

    <h3>Puts expiring on {{ expiry_date }}</h3>
    <p>
        {% for i, j in option_chain.puts.iterrows() %}
            <strong>Sep</strong> <br>
            {% for col, val in j.items() %}
                {{ col }} | {{ val }} <br>
            {% endfor %}
        {% endfor %}
    </p>

{% endblock %}