{% extends 'base.html' %}

{% block content %}

    <h2>You searched for: <em>{{ searched }}</em></h2>

    {% if display_posts %}
        {% for post in display_posts %}
            <img src="{{ post.author.avatar(36) }}" alt="">
            <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }}</a> <br> <!-- author, from the backref created in the User model to refer to anything assigned there -->
            <a href="{{ url_for('symbol', symbol=post.title)}}">{{ post.title }}</a> <br>
            <!-- {{ post.slug }} <br> -->
            Posted on: {{ post.timestamp }} <br>
            {{ post.content | safe }} <br> <br>
        {% endfor %}
    {% else %}
        <strong>{{ searched }}</strong> was not found
    {% endif %}

{% endblock %}