{% extends 'base.html' %}

{% block content %}

    <h1>{{ stock.ticker_symbol }}</h1>
    <h4>{{ stock.company_name }}</h4>


    <h3>Company logo, ipo date, sector</h3>
    {% if company_profile %}
        <p>{{ company_profile }}</p>
    {% endif %}


    <h3>Main info</h3>
    {% if main_info %}
        <p>{{ main_info }}</p>
    {% endif %}


    <p><a href="{{ url_for('options', symbol=stock.ticker_symbol) }}" class="btn btn-primary">Option Chain</a></p>

    <p><a href="{{ url_for('symbol_news', symbol=stock.ticker_symbol) }}" class="btn btn-secondary">News Stream</a></p>


    <h3>ohlcv_data</h3>
    {% if ohlcv_data %}
        <p>{{ ohlcv_data }}</p>
    {% endif %}


    <h3>basic_info</h3>
    {% if basic_info %}
        <p>{{ basic_info }}</p>
    {% endif %}


    <h3>fast_info</h3>
    {% if fast_info %}
        <p>{{ fast_info }}</p>
    {% endif %}


    <h3>Dividends, Earnings and Revenue Estimates</h3>
    {% if calendar %}
        <p>{{ calendar }}</p>
    {% endif %}


    <h3>Top Institutional Holders</h3>
    {% if institutional_holders%}
        <p>{{ institutional_holders }}</p>
    {% endif %}


    <h3>Recent Insider Activity</h3>
    {% if insider_transactions %}
        <p>{{ insider_transactions }}</p>
    {% endif %}


    <h3>Insider Sentiment</h3>
    {% if insider_sentiment %}
        <p>{{ insider_sentiment }}</p>
    {% endif %}


    <h3>Analyst Ratings</h3>
    {% if analyst_ratings %}
        <p>{{ analyst_ratings }}</p>
    {% endif %}


    <h3>Lobbying Activity</h3>
    {% if lobbying_activities %}
        <p>{{ lobbying_activities }}</p>
    {% endif %}


    <h3>Government Spending</h3>
    {% if government_spending %}
        <p>{{ government_spending }}</p>
    {% endif %}


    {% include 'add_post.html' %}
    <br>
    {% for post in symbol_posts %}
        {% include '_post.html' %}
    {% endfor %}

{% endblock %}