{% extends 'base.html' %}

{% block content %}

    <h1>Information for {{ stock.ticker_symbol }}</h1>

    {% for column in ohlcv_data.columns %}
        {% if column not in ['Volume', 'Dividends', 'Stock Splits', 'Capital Gains'] %}
            {{ column }} - ${{ '%.2f'|format(ohlcv_data[column][0]) }} <br>
        {% elif column == 'Volume' %}
            {{ column }} - {{ '{:,.0f}'.format(ohlcv_data[column][0]) }} shares traded
        {% endif %}
    {% endfor %}
    <br>
    {% if shares_outstanding %}
        Shares outstanding: {{ '{:,.0f}'.format( shares_outstanding) }}
    {% endif %}

{% endblock %}