{% extends 'base.html' %}

{% block content %}

    <h1>{{ stock.ticker_symbol }}</h1>
    <h4>{{ stock.company_name }}</h4>

    {% for column in ohlcv_data.columns %}
        {% if column not in ['Volume', 'Dividends', 'Stock Splits', 'Capital Gains'] %}
            {{ column }} - ${{ '%.2f'|format(ohlcv_data[column][0]) }} <br>
        {% elif column == 'Volume' %}
            {{ column }} - {{ '{:,.0f}'.format(ohlcv_data[column][0]) }} shares traded
        {% endif %}
    {% endfor %}
    <br>
    {% if shares_outstanding %}
        Shares outstanding: {{ '{:,.0f}'.format( shares_outstanding) }}
    {% endif %}

    <h3>Institutional Holdings</h3>
    {% if institutional_holders %}
        {{ institutional_holders }}
    {% else %}
        <p>Institutional holder information is not available for {{ stock.ticker_symbol }}</p>
    {% endif %}

    <h3>Insider Activity</h3>
    {% if insider_transactions %}
        {{ insider_transactions }}
    {% else %}
        <p>Insider activity information is not available for {{ stock.ticker_symbol }}</p>
    {% endif %}

    <p>
        {{ fast_info }}
    </p>

    <p>
        {{ earnings_forecast }}
    </p>

    {#% include 'add_post.html' %#}

    <br>
    {% for post in symbol_posts %}
        {% include '_post.html' %}
    {% endfor %}

{% endblock %}