{% extends 'base.html' %}

{% block content %}

    <h1>This is the page for the stock: </h1>
    <h2>{{ stock.ticker_symbol }}</h2>
    Company name: {{ stock.company_name }} <br>
    Opening price: ${{ '%.2f'|format(stock.open) }} <br>
    High price: ${{ '%.2f'|format(stock.high) }} <br>
    Low price: ${{ '%.2f'|format(stock.low) }} <br>
    Closing price: ${{ '%.2f'|format(stock.close) }} <br>
    Last price: ${{ '%.2f'|format(stock.last_price) }} <br>
    Volume: {{ '{:,.0f}'.format(stock.volume) }} shares traded<br>
    <br>
    Shares Outstanding: <br>
    Market Capitalization:
    
    <p>
        {% if tutes %}
            Top 10 Institutional Investors <br>
            {% for tute in tutes %}
                {{ tute.Holder }} holds {{ '{:,.0f}'.format(tute.Shares) }} shares valued at {{ '${:,.0f}'.format(tute.Value) }} which is {{ '%.2f'|format(tute.pctHeld*100) }}% of the company <br>
            {% endfor %}
        {% else %}
            The institutional holder information is not available for this stock.
        {% endif %}
    </p>


    {% include 'add_post.html' %}

    <br><br>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}


{% endblock %}